/AI.py
/Bfire.py
/BiPedalHW1.py
/Blue_Masking.py
/Brushfire_decomp.py
/burshfiretest.py
/bushfire.py
/Car.py
/Class.py
/Classes.py
/Class_E.py
/CLay Finance.py
/CLay.py
/cv_test_face.py
/DOGZILLALib
/Dogzilla_project_II.py
/Dogzilla_project_twopoiinto.py
/DogZiller.jpg
/DogZiller.png
/drone_test.py
/eeel6606exam2-3.py
/exam 1-3.py
/Foundation for robotics HW1.py
/Foundations for Robos.py
/hand-gesture-recognition-mediapipe-main.zip
/Hand_Gestures
/harrisproblem.py
/HW3-3.py
/Learning.py
/lessons.py
/LIPM.py
/LIPM_Single-leg.py
/Lotto.py
/name.py
/New_hand.py
/Project_III.py
/pytorchtest.py
/randomlol.py
/RRt_test.py
/scheduleSim.py
/scheduleSim2.py
/setup.py
/ShiT_Corner_Det.py
/Shi_T_Corner_Dect.code-workspace
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/TextToSpeech.py
/ThumbS.py
/Vaccuum.py
/yolo_test.py
/__pycache__